
<style>
    .rojo{
        
        background-color:red
    
    }

</style>
<div class ="rojo">

<h1>Aquí empieza el homepage</h1>



<h1>Mensaje</h1>

<li><a href="Quito.ejs">Quito</a></li>
<li><a href="Guayaquil.ejs">Guayaquil</a></li>

<h1>Aquí finaliza el homepage</h1>
</div>