<div style='background-color:white; color:black'>

    <% var numero = 1;%>

        <% var arregloMascota = [
      {
          nombre:'Lolita'
      },
        {
            nombre:'Alison'
        },
        {
            nombre:'Santy'
        }
        
        
        
        
    ]
    %>

            <h1>Home</h1>
            <h2><%=mauricio.nombre  %>-<%= mauricio.apellido%> -<%= numero %></h2>
            <h3><%=arregloMascota[0].nombre%></h3>
</div>