
        /* nombrePropiedad:ValorPropiedad; */
        
        /*
        nombreTag{
            Propiedad1:valorPropiedad1;
            Propiedad2:valorPropiedad2;
            Propiedad3:valorPropiedad3;
        
        }
        
        */
        
        html{
            
            background-color: azure;
            
        }
        
        body{
            
            background-color:beige;
        }
        
        h1{
            background-color:#a2b42b;
        }
        
        p{
            background-color: dimgrey;
        }
        
        
        /* 
        CLASES
        
        .nombreClase
        {
        
        }
        */
        
        .nombreClaseRojo  {
             background-color:red;
        }
        
          .nombreClaseAzul  {
             background-color:blue;
        }
        
          .nombreClaseAmarillo  {
             background-color:yellow;
        }
        
        /*    POR ID
        */

        #parrafoFucsia
        {
              background-color:deeppink;
        }
        
        #cualquiera
        {
               background-color:gray;
        }